<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
				<span class="login100-form-title-1">
					BlogApp Sign In
				</span>
			</div>

			<form action="/login" method="POST" class="login100-form validate-form">
				<div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
					<span class="label-input100">Email</span>
					<input class="input100" type="text" name="email">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
					<span class="label-input100">Senha</span>
					<input class="input100" type="password" name="password">
					<span class="focus-input100"></span>
				</div>
				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">Entrar</button>
				</div>
			</form>
            <div class="alert alert-light" role="alert" align="center">
                <a class="alert-link" href="/registro">Cadastrar-se</a>
            </div>
		</div>
	</div>
</div>