<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
				<span class="login100-form-title-1">
					BlogApp Sign In
				</span>
			</div>

			<form action="/logar" class="login100-form validate-form">
				<div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
					<span class="label-input100">Email</span>
					<input class="input100" type="text" name="email">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
					<span class="label-input100">Senha</span>
					<input class="input100" type="password" name="password">
					<span class="focus-input100"></span>
				</div>

				{{!-- <div class="flex-sb-m w-full p-b-30">
					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Lembrar-me
						</label>
					</div>

					<div>
						<a href="#" class="txt1">
							Esqueceu a senha?
						</a>
					</div>
				</div> --}}

				<div class="container-login100-form-btn">
					<a href="#" type="button" class="login100-form-btn">Login</a>
				</div>
			</form>
		</div>
	</div>
</div>